$color-primary: rgba(0, 91, 254, 1);
$color-darck: rgba(0, 0, 0, 1);
$color-opacity50: rgba(0, 0, 0, 0.5);
$color-opacity30: rgba(0, 0, 0, 0.3);
$color-opacity10: rgba(0, 0, 0, 0.1);
$color-opacity5: rgba(0, 0, 0, 0.05);
$color-hover: rgba(0, 89, 254, 0.3);
$color-remove: rgba(234, 61, 47, 1);
