@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin media-tablet {
  @media (max-width: 630px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin media-mobilesmall {
  @media (max-width: 460px) {
    @content;
  }
}
