.offcanvas {
  max-width: 312px;
}

.offcanvas-header {
  min-height: 70px;
  border-bottom: 1px solid $color-opacity10;
}

.offcanvas-title {
  font-weight: 700;
  font-size: 18px;
}

.offcanvas-footer {
  padding: 0 20px 20px;
}

.btn-light {
  color: $color-primary;
  transition: 0.3s;
  border: none;
  &:hover {
    color: $color-primary;
    background: $color-hover;
    border: none;
  }
}

.addGroup {
  display: none;
}

.visible {
  display: block;
}

.btn-close {
  transition: 0.3s;
  &:hover {
    background-color: $color-opacity5;
    opacity: 1;
  }
}
